#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  background-color: #23252C;
  width:317px;
  height: 780px;
  outline: 3px solid white;

}

main {
  margin-inline: 36px;
  margin-block-start: 20px;
}

main  h2 {
  margin-block: 12px 0;
}

main  p {
  margin-block: 2px 0;
}
